networkx>=2.5
graphviz>=0.14.2
astor>=0.8.1
ipypublish>=0.6.8
spellchecker>=0.4
showast>=0.2.4
matplotlib>=3.3.2
nbconvert>=6.0.7
autopep8>=1.5.4
numpy>=1.19.2
selenium>=3.141.0
nbformat>=5.0.8
Pygments>=2.7.1
ipython>=7.16.1
scikit_learn>=0.23.2
beautifulsoup4>=4.9.3
mypy>=0.812
Markdown>=3.3.4
lxml>=4.5.1
diff_match_patch>=20200713
enforce>=0.3.4
