networkx==2.5
graphviz==0.14.2
astor==0.8.1
ipypublish==0.6.8
spellchecker==0.4
showast==0.2.4
matplotlib==3.3.2
nbconvert==6.0.7
autopep8==1.5.4
numpy==1.19.2
pixiedust==1.1.18
traitlets==4.3.3
selenium==3.141.0
nbformat==5.0.8
pikepdf==1.19.3
ipywidgets==7.5.1
Pygments==2.7.1
ipython==7.19.0
pyppeteer==0.2.2
scikit_learn==0.23.2
beautifulsoup4==4.9.3