networkx==2.5
graphviz==0.14.2
showast==0.2.4
nbformat==5.0.8
ipywidgets==7.5.1
pixiedust==1.1.18
selenium==3.141.0
matplotlib==3.3.2
Pygments==2.7.1
astor==0.8.1
numpy==1.19.2
ipython==7.19.0
scikit_learn==0.23.2
Timer==0.1.0
Tracer==0.3.2
